<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="List of Rizztourant" />
  <meta name="keywords" content="Rizzto" />
  
  <title>Rizzto</title>
  <!-- styles -->
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="app.webmanifest.json">
  <link rel="stylesheet" type="text/css" href="/src/styles/main.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">


</head>
<body id="home">
  <a href="#main-content" class="skip-link">Connected to content</a>
  <!-- header content -->
  <app-bar></app-bar>

  <!-- Jumbotron section -->
  <hero-element></hero-element>

  <!-- add jumbotron decoration  -->
  <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 90" preserveAspectRatio="xMinYMin meet">
    <path fill="#e60404" d="M0,67 C150,100 350,0 500,67 C650,134 850,34 1000,67 L1000,0 L0,0 Z"></path>
  </svg>
  
  <!-- main content -->
  <main id="main-content" class="main-content" tabindex="0"></main>
  <!-- end of main content -->

  <!-- add bottom decoration  -->
  <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="xMinYMin meet">
    <path fill="#e60404" d="M0,0 C150,33 350,133 500,67 C650,34 850,134 1000,67 L1000,1000 L0,1000 Z"></path>
  </svg>
  
  
  <foot-bar></foot-bar>
</body>
</html>