/* jumbotron */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px; 
  width: 100%;
  text-align: center;
  background-image: var(--liner-gradient), url("../public/images/hero-image.jpg");
  background-position: center;
  background-size: cover; 
}

.hero_inner {
  max-width: 800px;
  text-align: center; 
  padding: 20px; 
}

.hero_tittle { 
  color: var(--primary-color);
  font-weight: 500;
  font-size: 60px; 
  margin: 0;
}

.rizz{
  font-family: 'Great Vibes', cursive;
}

.hero_bold {
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  margin-top: 16px;
  position: relative; 
}

.hero_bold::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  opacity: 0; 
  z-index: -1; 
  border-radius: 0.5em;
  animation: glowing 1s linear infinite; 
}

@keyframes glowing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.hero_tagline {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 400;
  font-family: 'Great Vibes', cursive;
  margin-top: 16px;
  margin-bottom: 30px; 
}

.hero_button {
  padding: 1em 2em; 
  border-radius: 10px;
  background-color: #ff0000;
  color: var(--primary-color);
  font-size: 18px; 
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
  text-decoration: none; 
}

.hero_button:hover {
  background-color: var(--primary-color);
  color: #070000;
}

